
<link href="/static/pico.css" rel="stylesheet">

<style>
    .servers_grid
        {
        display:grid;
        grid-template-columns:auto auto auto auto;
        padding: 3vh;
        grid-column-gap:2vw;
        }
</style>

<script>
function refresh()
    {
    window.location = window.location;
    }
</script>

<body>
    <header>
        <title> mason </title>
    </header>

    <main>
        <hgroup>
            <h1>Mason</h1>
            <p>Server Status Monitoring Utility</p>
        </hgroup>
        <button onclick="refresh()">refresh</button>
        <div class="servers_grid">
            {% for ip_addrs, server in servers.items() %}
            <article>
                {% if is_server_last_contact_too_long_ago.is_it(server) %}
                    <h6>{{ip_addrs}} ⛔LostContact </h6>
                    {% else %}
                    <h6>{{ip_addrs}}</h6>
                {% endif %}
                <h6>Memory: {{server.used_ram}}/{{server.total_ram}} GB</h6>
                <progress value="{{server.used_ram}}", max="{{server.total_ram}}"></progress>
                <h6>CPU: {{server.cpu_usage}}%</h6>
                <progress value="{{server.cpu_usage}}", max="100"></progress>
                <p>Last Contact :</p>
                <h6>{{server.last_contact.isoformat()}}</h6>

            </article>
            {%endfor%}
        </div>
    </main>
</body>


<script>
//setTimeout(refresh,1000)
</script>